.background {
    background-image: url("../../images/profileBack.png");
    background-size: 100% 100%;
}

.container {
    width: 1480px;
    margin: 20px auto;
    background: white;
    display: grid;
    grid-template-columns: 550px 500px 430px;
    grid-template-rows: 820px;
    box-shadow: 0 0 5px;
    opacity: 93%;
}

/* left photo and buttons topSide.jsx */

.leftSide{
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template-columns: 650px;
    grid-template-rows: 520px 300px;
}

.userImg{
    grid-column: 1;
    grid-row: 1;
}

/* circle div photo */

.userPhoto{
    width: 400px;
    height: 400px;
    border-radius: 250px;
    border: 2px solid #23bbf7;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}

.uploadImg{
    grid-column: 1;
    grid-row: 2;
}

/*upload photo button*/

.btn{
    margin-top: 30px;
    color: #23bbf7;
    font-size:20px;
    background:transparent;
    cursor:pointer;
    border:1px solid #23bbf7;
    border-radius: 30px;
    width:310px;
    height:70px;
    margin-left: 9%;
    margin-right: 9%;
    position:absolute;
    text-align:center;
    -webkit-transition:all .6s ease-in-out;
    transition:all .6s ease-in-out;
    overflow:hidden;
    text-decoration: none;
    outline: none;
}

.btn::before{
    content:'';
    position:absolute;
    top:-130px;
    margin:auto;
    display:block;
    border-radius:50%;
    width:310px;
    height:300px;
    left: -1px;
    -webkit-transition:box-shadow .6s ease-in-out;
    transition:box-shadow .6s ease-in-out;
    z-index:-1;

}

.btn:hover{
    color:#fff;
}

.btn:hover::before{
    box-shadow:inset 0 0 0 160px #23bbf7;
}

/* Save button */

.saveChange{
    margin-left: 80%;
    margin-top: -10px;
    width: 100px;
    height: 40px;
    background: #23bbf7;
    outline: none;
    text-decoration: none;
    border-radius: 5px;
    border-color: #23bbf7;
    font-size: larger;
    color: honeydew;
}

/* input fields */

.rightSide{
    margin-top: 130px;
    margin-left: 40px;
    grid-column: 2;
    grid-row: 1;
}

/* Left input column(L), right input column(R) */

.bottomRightInputL{
    display: inline-block;
    width: 65%;
    height: 30px;
    margin-top: 0px;
    margin-left: 20px;
    border: none;
    border-bottom: 3px solid darkgrey;
    text-decoration: none;
    outline: none;
    font-size: 23px;
}

.bottomRightInputR{
    display: inline-block;
    width: 40%;
    height: 30px;
    margin-top: 0px;
    margin-left: 20px;
    border: none;
    border-bottom: 3px solid darkgrey;
    text-decoration: none;
    outline: none;
    font-size: 23px;
}

.textOverInput{
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 3px;
    font-family: Kurale, sans-serif;
    color: grey;
    width: 70%;
}

/* Third column(logo) */

.bottomLogoSide{
    grid-column: 3;
    grid-row: 1;
}


.logo{
    width: 330px;
    height: 330px;
    background-image: url("../../images/logoProfile.png");
    margin-left: 10%;
    margin-top: 0px;
}