.background {
    background-image: url("../../images/goals.jpg");
    background-attachment: fixed;
    background-size: 100% 100%;
    padding-bottom: 20px;
}

.container {
    width: 1480px;
    margin: 20px auto;
    background: white;
    display: grid;
    grid-template-columns: 550px 500px 430px;
    grid-template-rows: 550px;
    box-shadow: 0 0 5px;
    opacity: 85%;
    border-radius: 30px;
}

/* left photo and buttons PhotoUploadComponent.jsx */

.leftSide {
    height: 450px;
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template-columns: 550px;
    grid-template-rows: 450px;
}

.userAvatar {
    grid-column: 1;
    grid-row: 1;
}

/* circle div photo */

.userPhoto {
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}

.userPhoto img {
    width: 300px;
    height: 300px;
    border-radius: 250px;
    border: 2px solid #23bbf7;
}

.uploadImg {
    grid-column: 1;
    grid-row: 2;
}


/*upload photo button*/

.saveInline{
    position: relative;
}
.btn {
    position: absolute;
    left: -68.5%;
    top: -84%;
    color: #23bbf7;
    font-size: 20px;
    background: transparent;
    cursor: pointer;
    border: 1px solid #23bbf7;
    border-radius: 30px;
    width: 240px;
    height: 70px;
    transform: translate(-50%, 0);
    text-align: center;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    overflow: hidden;
    text-decoration: none;
    outline: none;
}

.btn::before {
    content: '';
    position: absolute;
    top: -130px;
    margin: auto;
    display: block;
    border-radius: 50%;
    width: 310px;
    height: 300px;
    left: -1px;
    -webkit-transition: box-shadow .3s ease-in-out;
    transition: box-shadow .3s ease-in-out;
    z-index: -1;

}

.btn:hover {
    color: #fff;
}

.btn:hover::before {
    box-shadow: inset 0 0 0 160px #23bbf7;
}

/* input fields */

.rightSide {
    margin-top: 130px;
    margin-left: 40px;
    grid-column: 2;
    grid-row: 1;
}

/* Left input column(L), right input column(R) */

.bottomRightInputL {
    display: inline-block;
    width: 65%;
    height: 30px;
    margin-top: 0;
    margin-left: 20px;
    border: none;
    border-bottom: 3px solid darkgrey;
    text-decoration: none;
    outline: none;
    font-size: 23px;
}

.bottomRightInputR {
    display: inline-block;
    width: 40%;
    height: 30px;
    margin-top: 0;
    margin-left: 20px;
    border: none;
    border-bottom: 3px solid darkgrey;
    text-decoration: none;
    outline: none;
    font-size: 23px;
}

.textOverInput {
    display: inline-block;
    margin: 16px 20px 3px;
    font-family: Kurale, sans-serif;
    color: grey;
    width: 70%;
}

/* Third column(logo) */

.bottomLogoSide {
    grid-column: 3;
    grid-row: 1;
}


.logo {
    width: 330px;
    height: 330px;
    background-image: url("../../images/logoProfile.png");
    margin-left: 10%;
    margin-top: 0;
}

.radarChartDescription {
    font-size: 18px;
    width: 50%;
}

.inputFile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.uploadBtn {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #23bbf7;
    font-size: 20px;
    background: transparent;
    cursor: pointer;
    border: 1px solid #23bbf7;
    border-radius: 30px;
    width: 240px;
    height: 70px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    overflow: hidden;
    text-decoration: none;
    outline: none;
}

.uploadBtn:before {
    content: '';
    position: absolute;
    top: -130px;
    margin: auto;
    display: block;
    border-radius: 50%;
    width: 310px;
    height: 300px;
    left: -1px;
    -webkit-transition: box-shadow .3s ease-in-out;
    transition: box-shadow .3s ease-in-out;
    z-index: -1;

}

.uploadBtn:hover {
    color: #fff;
}

.uploadBtn:hover::before {
    box-shadow: inset 0 0 0 160px #23bbf7;
}

.retestBtn {
    margin-left: 120px;
    left: 0;
}

.radarChart {
    width: 1480px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 50px;
}