.background {
    background-image: url("../../images/goalBack.png");
    background-size: 100% 100%;
}

.yourGoals {
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    font-family: "Tw Cen MT", serif;
}

.container {
    width: 1200px;
    height: 100%;
    margin: 15px auto;
    display: grid;
}

.grid {
    margin-top: 50px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2fr 2fr;
    margin-bottom: 2vw;
}

.grid > div {
    font-size: 5vw;
    padding: .5em;
    background: white;
    text-align: center;
    box-shadow: 0 0 5px;
    border-radius: 30px;
    margin-right: 35px;
    margin-top: 35px;
}

.addGoalBtn{
    margin-top: 35px;
    width: 40px;
    height: 40px;
    border: 0;
    outline: none;
    background-image: url("../../images/AddGoal.png");
    background-size: 100% 100%;
    background-color: transparent;
}

.goalNameH6 {
    font-size: x-large;
    text-align: left;
    margin-top: -50px;
    margin-left: 30px;
    font-weight: lighter;
    font-family: "Tw Cen MT", serif;
}

.descriptionP {
    margin-bottom: -50px;
}
.progressBar {
    width: 400px;
    height: 60px;
    margin-top: -50px;

}

.checkbox {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
    text-align: left;
    padding: 5px;
    margin-left: 25px;
}
.taskName{
    padding-top: 5px;
    padding-bottom: 5px;
    width: 70%;
    border-bottom: 2px solid darkgrey;
}
.discrPaddings{
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 22px;
    border-bottom: 2px solid darkgrey;
    width: 70%;
}
.buttons {
    margin-top: -105px;
    margin-right: -380px;
}
.editInput{
    font-size: x-large;
    text-decoration: none;
    outline: none;
    border: none;
    border-bottom: 2px solid;
    border-color: darkgrey;
}
.editButton {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    background: white url("../../images/edit.png");
    background-size: 100% 100%;
    border: none;
    outline: none;
}

.deleteButton {
    width: 30px;
    height: 30px;
    background: white url("../../images/delete.png");
    background-size: 100% 100%;
    border: none;
    outline: none;
}

/* Complete and add task buttons */

.btn {
    margin-top: 30px;
    color: #23bbf7;
    font-size: 20px;
    background: transparent;
    cursor: pointer;
    border: 1px solid #23bbf7;
    border-radius: 10px;
    width: 200px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    transform: translate(-10%, 0);
    text-align: center;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    overflow: hidden;
    text-decoration: none;
    outline: none;
}

.btn::before {
    content: '';
    position: absolute;
    top: -130px;
    margin: auto;
    display: inline-block;
    border-radius: 50%;
    width: 310px;
    height: 300px;
    left: -1px;
    -webkit-transition: box-shadow .3s ease-in-out;
    transition: box-shadow .3s ease-in-out;
    z-index: -1;

}

.btn:hover {
    color: #fff;
}

.btn:hover::before {
    box-shadow: inset 0 0 0 160px #23bbf7;
}

