.background {
    background-image: url("../../images/goalBack.png");
    background-size: 100% 100%;
}

.yourGoals {
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    font-family: "Tw Cen MT", serif;
}

.container {
    width: 1200px;
    height: 100%;
    margin: 15px auto;
    display: grid;
}

.grid {
    margin-top: 50px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2fr 2fr;
    margin-bottom: 2vw;
}

.grid > div {
    font-size: 5vw;
    padding: .5em;
    background: white;
    text-align: center;
    box-shadow: 0 0 5px;
    border-radius: 30px;
    margin-right: 35px;
    margin-top: 35px;
}

.addGoalBtn{
    margin-top: 35px;
    width: 40px;
    height: 40px;
    border: 0;
    outline: none;
    background-image: url("../../images/AddGoal.png");
    background-size: 100% 100%;
    background-color: transparent;
}

.goalNameH6 {
    font-size: x-large;
    text-align: left;
    margin-top: -50px;
    margin-left: 30px;
    font-weight: lighter;
    font-family: "Tw Cen MT", serif;
}

.descriptionP {
    margin-bottom: -50px;
}
.progressBar {
    width: 400px;
    height: 60px;
    margin-top: -50px;

}

.checkbox {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
    text-align: left;
    padding: 5px;
    margin-left: 25px;
}
.taskName{
    padding-top: 5px;
    padding-bottom: 5px;
}
.discrPaddings{
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 22px;
}
.buttons {
    margin-top: -105px;
    margin-right: -380px;
}
.editInput{
    font-size: x-large;
}
.editButton {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    background: white url("../../images/edit.png");
    background-size: 100% 100%;
    border: none;
    outline: none;
}

.deleteButton {
    width: 30px;
    height: 30px;
    background: white url("../../images/delete.png");
    background-size: 100% 100%;
    border: none;
    outline: none;
}

