.background{
    background-image: url("../../images/goalBack.png");
    background-size: 100% 100%;
}

.yourGoals{
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    font-family: "Tw Cen MT";
}

.container {
    width: 1200px;
    height: 100%;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    display: grid;
}

.grid {
    margin-top: 50px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2fr 2fr;
    grid-column-gap: 2vw;
    grid-row-gap: 2vw;
    margin-bottom: 2vw;
}
.grid > div {
    font-size: 5vw;
    padding: .5em;
    background: white;
    text-align: center;
    box-shadow: 0px 0px 5px;
}

.grid > button{
    width: 40px;
    height: 40px;
    border: 0px;
    outline: none;
    background-color: white;
    background-image: url("../../images/AddGoal.png");
    background-size: 100% 100%;
    background-color: transparent;
}

.goalNameH6{
    font-size: x-large;
    margin-left: -280px;
    margin-top: -35px;
    font-weight: lighter;
    font-family: "Tw Cen MT";
}

.descriptionP{
    font-size: x-large;
    margin-left: 56px;
    margin-bottom: -100px;
}

.progressBar{
    width: 400px;
    height: 60px;
    margin-left: 3px;

}

.checkbox {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
    margin-left: -315px;
    padding: 5px;
}

.buttons{
    margin-top: -105px;
    margin-right: -380px;
}

.editButtton{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    background: white;
    background-image: url("../../images/edit.png");
    background-size: 100%  100%;
    border: none;
    outline: none;
}

.deleteButton{
    width: 30px;
    height: 30px;
    background: white;
    background-image: url("../../images/delete.png");
    background-size: 100%  100%;
    border: none;
    outline: none;
}

