.background {
    background-image: url("../../images/BackTown.png");
    height: 800Px;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 72px 0;
}

.container {
    width: 90%;
    height: 850px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 36% 29% 28%;
}

.d3 {
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 150px solid white;
    margin-left: auto;
    margin-right: auto;
}

.chcMngr {
    font-family: Kurale, sans-serif;
    color: white;
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
}

.btn {
    margin-top: -10px;
    color: white;
    font-size: 20px;
    background: #23bbf7;
    cursor: pointer;
    border: 1px solid #23bbf7;
    border-radius: 30px;
    width: 240px;
    height: 70px;
    margin-left: auto;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    overflow: hidden;
    text-decoration: none;
    outline: none;
}


/* The center grid */

/*.logoGrid {
    grid-column: 1;
    grid-row: 1;
}*/

.welcomeGrid {
    grid-column: 1;
    grid-row: 1;
}

.H1 {
    font-family: Kurale, sans-serif;
    color: white;
    text-align: center;
    font-size: 90px;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 500;
}

.underWelc {
    font-family: Kurale, sans-serif;
    color: white;
    text-align: center;
    margin-top: 0;
    font-size: 70px;
    font-weight: 100;
}

/* the lowest grid */

.thirdGrid {
    grid-column: 1;
    grid-row: 2;
}


.introP {
    font-family: Kurale, sans-serif;
    color: white;
    text-align: center;
    font-size: 40px;
    margin-top: 0;
}
