.container {
    max-width: 1330px;
    margin: auto;
}

.answerBlock {
    margin-bottom: 20px;
}

.answerBlock textarea {
    resize: none;
    height: 100px;
    width: 300px;
    outline: none;
    overflow: auto;
}

.button {
    text-decoration: none;
    color: #ffffff;
    background: #1fafed;
    padding: 15px 30px;
    border-radius: 30px;
    border-color: black;
    outline: none;
}

.button:hover {
    color: #ffffff;
    background: #32b5ed;
    box-shadow: 0 0 10px #1fafed;
}

.button:active {
    color: #ffffff;
}

.questDiscr {
    font-weight: 600;
    text-align: center;
    font-size: 1.5em;
    color: #2d6786;
}

.option {
    border-radius: 50%;
    margin-left: 20px;
}

.disagree {
    border: red 1px solid;
}
.disagree.min{
    padding: 50px;
}
.disagree.med{
    padding: 40px;
}
.neutral {
    border: grey 1px solid;
    padding: 30px;
}
.agree.med{
    padding: 40px;
}

.agree.max{
    padding: 50px;
}

.agree{
    border: green 1px solid;
}

.options {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: dimgrey 2px;
}