.container {
    max-width: 1330px;
    margin: auto;
}

.answerBlock {
    margin-bottom: 20px;
}

.answerBlock textarea {
    resize: none;
    height: 100px;
    width: 300px;
    outline: none;
    overflow: auto;
}

.button {
    text-decoration: none;
    color: #ffffff;
    background: #1fafed;
    padding: 15px 30px;
    border-radius: 30px;
    border-color: black;
    outline: none;
}

.preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button:hover {
    color: #ffffff;
    background: #32b5ed;
    box-shadow: 0 0 10px #1fafed;
}

.button:active {
    color: #ffffff;
}