.container {
    max-width: 1330px;
    margin: auto;
}

.answerBlock {
    margin-bottom: 20px;
}

.answerBlock textarea {
    resize: none;
    height: 100px;
    width: 300px;
    outline: none;
    overflow: auto;
}

.button {
    text-decoration: none;
    color: #ffffff;
    background: #1fafed;
    padding: 15px 30px;
    border-radius: 30px;
    border-color: black;
    outline: none;
}

.button:hover {
    color: #ffffff;
    background: #32b5ed;
    box-shadow: 0 0 10px #1fafed;
}

.button:active {
    color: #ffffff;
}

.questDiscr {
    font-weight: 600;
    text-align: center;
    font-size: 1.5em;
    color: #2d6786;
}

.option {
    border-radius: 50%;
    margin-left: 20px;
}

.disagree {
    border: red 2px solid;
}

.disagree.min {
    padding: 50px;
}

.disagree.med {
    padding: 40px;
}

.neutral {
    border: grey 2px solid;
    padding: 30px;
}

.agree.med {
    padding: 40px;
}

.agree.max {
    padding: 50px;
}

.agree {
    border: green 2px solid;
}

.agree.active {
    background: #56ac8a url("../../images/checkMark.svg") no-repeat center;
}

.disagree.active{
    background: #5f394d url("../../images/checkMark.svg") no-repeat center;
}

.neutral.active {
    background: #aab5af url("../../images/checkMark.svg") no-repeat center;
}

.options {
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.questContainer{
    border-bottom: 2px grey solid;
}
.textAnswers{
    margin-top: 20px;
    margin-bottom: 20px;
}