.leftHeaderButtons{
    text-align: center;
    display: grid;
    justify-items: end;
}
.link1{
    grid-column: 1;
    grid-row: 1;
}
.link2{

    grid-column: 1;
    grid-row: 2;
}
.link3{

    grid-column: 1;
    grid-row: 3;
}
.links {
    margin-top: 10px;
    width: 100px;
    text-decoration: none;
    color: #ffffff;
    background: #1fafed;
    padding: 15px 30px;
    border-radius: 30px 0 0 30px;
}
.links:hover{
    color: #ffffff;
    background: #32b5ed;
    box-shadow: 0 0 10px #1fafed;
}
.links:active{
    color: #ffffff;
}