.content {
    position: relative;
    display: flex;
    /*grid-area: header;*/
    font-size: 24px;
    justify-content: space-between;
    padding: 20px;
    width: 97.9%;
}

.logo{
    color:white;
}

.signIn {
    text-decoration: none;
    color: #ffffff;
    background: #1fafed;
    padding: 10px 20px;
    border-radius: 30px;
    border: 3px #23bbf7 solid;
}

.signIn:hover {
    color: #ffffff;
    background: #32b5ed;
    box-shadow: 0 0 10px #1fafed;
}
.signIn:active {
    color: #ffffff;
}
.navLink{
    margin-right: 20px;
    color: white;
}
.navLink:hover{
    color: #1fafed;
    transition: 0.5s;
}
.navLink:not(hover){
    color: white;
    transition: 0.5s;
}
.navLink:active{
   color: white;
}
