.content {
    position: relative;
    display: flex;
    /*grid-area: header;*/
    font-size: 24px;
    justify-content: space-between;
    padding: 20px;
    /*border-bottom: 1px solid black;*/
    /*background: white;*/
    /*box-shadow: 0 0 10px;*/
    width: 97.9%;
}

.logo {
}

.signIn a {
    text-decoration: none;
    color: #ffffff;
    background: #1fafed;
    padding: 15px 30px;
    border-radius: 30px;
    border: 3px #23bbf7 solid;
}

.signIn a:hover {
    color: #ffffff;
    background: #32b5ed;
    box-shadow: 0 0 10px #1fafed;
}

.signIn a:active {
    color: #ffffff;
}