/*maybe made positioning in blocks by flex-box*/
.background {
    background-image: url("../../images/bgImage.jpg");
    background-size: 100% 100%;
}

.content {
    width: 1800px;
    height: 950px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 1800px;
    grid-template-rows: 200px 630px;
}

.topSide {
    grid-column: 1;
    grid-row: 1;
}

.aboutUsP {
    text-align: center;
    font-size: 265px;
    margin-top: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: aliceblue;
}

.bottomSide {
    margin-top: 100px;
    grid-column: 1;
    grid-row: 2;
    display: grid;
    grid-template-columns: 750px 1050px;
    grid-template-rows: 630px;
    margin-bottom: 100px;
}

.leftText {
    grid-column: 1;
    grid-row: 1;
}

.leftTextH1 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 40px;
    font-family: lighter;
    margin-top: 40px;
    margin-left: 50px;
}

.underH1 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 25px;
    margin-left: 50px;
    font-weight: normal;
    margin-top: -15px;
}

.navLinkRegistr {
    text-decoration: underline;
    color: white;
}

.rightSide {
    grid-column: 2;
    grid-row: 1;
}

.rightH1 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 40px;
    margin-top: 50px;
    text-align: center;
}

.mentorImgFirst {
    width: 250px;
    height: 250px;
    border-radius: 150px;
    margin-left: 60px;
    margin-top: 55px;
    border: 2px solid white;
    display: inline-block;
    background: white;
    background-image: url("../../images/2.jpg");
    background-size: 100% 100%;
}

.mentorImgSecond {
    width: 250px;
    height: 250px;
    border-radius: 150px;
    margin-left: 60px;
    margin-top: 55px;
    border: 2px solid white;
    display: inline-block;
    background: white;
    background-image: url("../../images/3.jpg");
    background-size: 100% 100%;
}

.mentorImgThird {
    width: 250px;
    height: 250px;
    border-radius: 150px;
    margin-left: 60px;
    margin-top: 55px;
    border: 2px solid white;
    display: inline-block;
    background: white;
    background-image: url("../../images/1.jpg");
    background-size: 100% 100%;
}