
/*maybe made positioning in blocks by flex-box*/
.content{
    grid-area: main;
    display: grid;
    grid-template-areas: "firstImg aboutProject"
"countOfRegistration countOfGoal"
"secondImg secondImg"
"aboutTeam aboutTeam";
}
.firstImg{
    grid-area: firstImg;
}
.aboutProject{
    grid-area: aboutProject;
}
.countOfRegistration{
    grid-area: countOfRegistration;
}
.countOfGoals{
    grid-area: countOfGoal;
}
/*make smth with position of button*/
.secondImg{
    grid-area: secondImg;
    position: relative;
}
.joinUsLink{
    position: absolute;
    top: 173px;
    left: 468px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: 10px 200px;
    border-radius: 3px;
    background: rgb(64,199,129);
    box-shadow: 0 -3px rgb(53,167,110) inset;
    transition: 0.2s;
}
.joinUsLink a:hover{
    background: rgb(53, 167, 110);
}
.joinUsLink a:active{
    background: rgb(33,147,90);
    box-shadow: 0 3px rgb(33,147,90) inset
}
.aboutTeam{
    grid-area: aboutTeam;
}
