.body_slides{
    list-style:none;
    margin:0;
    padding:0;
    z-index:-2;
    background-color: #23bbf7;
}
.body_slides,
.body_slides:after{
    /*position: fixed;*/
    width:100%;
    height:1050px;
    top:0px;
    left:0px;}
.body_slides:after {
    content: '';
    background: transparent;
}


.body_slides li{
    width:100%;
    height:1050px;
    position:absolute;
    top:0;
    left:0;
    background-size:cover;
    background-repeat:no-repeat;
    opacity:0;
    -webkit-animation: anim_slides 18s linear infinite 0s;
    -moz-animation: anim_slides 18s linear infinite 0s;
    -o-animation: anim_slides 18s linear infinite 0s;
    -ms-animation: anim_slides 18s linear infinite 0s;
    animation: anim_slides 18s linear infinite 0s;
}
.body_slides li:nth-child(1){
    background-color: #2d6786;
    background-image: url("../../images/slider1.png");
    background-size: 100% 100%;
}
.body_slides li:nth-child(2){
    -webkit-animation-delay: 5.0s;
    -moz-animation-delay: 5.0s;
    background-image: url("../../images/slider2.png");
    background-size: 100% 100%;
}
.body_slides li:nth-child(3){
    -webkit-animation-delay: 10.0s;
    -moz-animation-delay: 10.0s;
    background-image: url("../../images/slider3.png");
    background-size: 100% 100%;
}
@-webkit-keyframes anim_slides {
    0% {opacity:0;}
    6% {opacity:1;}
    24% {opacity:1;}
    30% {opacity:0;}
    100% {opacity:0;}
}

@keyframes anim_slides {
    0% {opacity:0;}
    6% {opacity:1;}
    24% {opacity:1;}
    30% {opacity:0;}
    100% {opacity:0;}
}

@-moz-keyframes anim_slides {
    0% {opacity:0;}
    6% {opacity:1;}
    24% {opacity:1;}
    30% {opacity:0;}
    100% {opacity:0;}
}