.background {
    background-image: url("../../images/bgImage.jpg");
    height: 805px;
    background-size: 100% 100%;
    padding: 70px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 30%;
    grid-template-columns: 950px 580px;
    grid-template-rows: 800px;
}

.leftSide {
    margin-top: 30px;
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template-columns: 950px;
    grid-template-rows: 130px 670px;
}
.socials{
    padding: 10px 0;
}
.leftHeader {
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template-columns: 800px 150px;
    grid-template-rows: 800px;
}

.leftHeaderButtons {
    grid-column: 2;
    grid-row: 1;
}

.leftText {
    grid-column: 1;
    grid-row: 2;
    display: grid;
    grid-template-columns: 950px;
    grid-template-rows: 100px 300px 400px;
}

.leftTextHeader {
    grid-column: 1;
    grid-row: 1;
}

.leftTextInfo {
    grid-column: 1;
    grid-row: 2;
    display: grid;
    grid-template-columns: 750px 250px;
    grid-template-rows: 300px;
}

.textInfo {
    grid-column: 1;
    grid-row: 1;
}


.rightSide {
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template-columns: 580px;
    grid-template-rows: 170px 150px 50px 300px;
    background: #ffffff;
    border-radius: 20px;
}

.rightHeader {
    grid-column: 1;
    grid-row: 1;
}

.rightLogin {
    grid-column: 1;
    grid-row: 2;
    display: grid;
    grid-template-columns: 580px;
    grid-template-rows: 50px 500px;
}

.rightFooter {
    grid-column: 1;
    grid-row: 4;
    padding-left: 80px;
    margin-top: 140px;
    margin-bottom: 20px;
}

/* google and facebook wrapper */

.signFrom{
    grid-column: 1;
    grid-row: 4;
    margin-top: 60px;
    padding-left: 80px;
}

.signGoogle{
    padding: 10px;
    border: 2px solid;
    text-decoration: none;
    outline: none;
    margin-left: 2em;
    background-color: #2d6786;
    display: inline-block;
}

.googleIcon{
    width: 30px;
    height: 30px;
    margin-top: 5px;
}

.googleText{
    margin-top: 0px;
}

.signFacebook{
    padding: 10px;
    border: 2px solid;
    margin-left: 3em;
    background-color: #f2ebff;
    display: inline-block;
}

.rightH1 {
    text-align: center;
    margin-top: 50px;
}

.rightLoginh2 {
    grid-column: 1;
    grid-row: 1;
    margin-top: 0px;
    height: 81px;
}

h3 {
    margin-left: 75px;
    font-family: Kurale, sans-serif;
    font-size: x-large;
    color: deepskyblue;
}


/* Username */
.rightLoginUser {
    grid-column: 1;
    grid-row: 2;
    margin-top: 0;
}

.login {
    height: 30px;
    width: 450px;
    margin: 10px 76px 0;
    border: none;
    border-bottom: 3px silver solid;
    outline: none;
    font-size: 18px;
}

.password {
    height: 30px;
    width: 450px;
    margin: 20px 76px 0;
    border: none;
    border-bottom: 3px silver solid;
    outline: none;
    font-size: 18px;
}

.button {
    display: flex;
    justify-content: center;
}

.leftButtons {
    text-align: center;
    font-size: x-large;
    text-decoration: none;
    outline: none;
    font-family: Kurale, sans-serif;
    color: ghostwhite;
}



