.container{
    position: fixed;
	width: 310px;
	height: 230px;
	top: 35%;
	left: 50%;
	margin-top: 0px;
	margin-left: -170px;
	background: #fff;
    border-radius: 20px;
    border-top-right-radius: 0px;
	border: 3px solid rgb(36, 16, 16);
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .1);
}

.headName{
    text-align: center;
    font-size: x-large;
    font-weight: 600;
    margin-top: -40px;
}

.emailKey{
    border-radius: 5px;
    height: 29px;
    margin-left: 68px;
}

.confirmButt{
    height: 30px;
    width:110px;
    margin-top: 20px;
    margin-left: 100px;
    border-radius: 5px;
}

.sendAgain{
    margin-top: 13px;
    text-align: center;
    border-top: 3px solid;
}

.clBtn7 {
    width: 40px;
    height: 40px;
    margin-left: 85%;
    margin-left: 85%;
    background: white;
    border: white;
    outline: none;
}
.clBtn7:before {
    content: '+';
    position: absolute;
    transform: rotate(45deg);
    font-size: 50px;
    top: -5px;
    left: 6px;
    margin-left: 85%;
    margin-top: 1px;
}
