.background{
    background-image: url("../../images/goals.jpg");
    height: 945px;
    background-size:100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*test page because render trouble*/
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftSide{
    grid-column: 1;
    grid-row:1;
    display: grid;
    grid-template-columns: 950px;
    grid-template-rows: 130px 670px;
    background: linear-gradient(45deg, deepskyblue, DodgerBlue);
}

.leftHeader{
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template-columns: 800px 150px;
    grid-template-rows: 800px;
}

.leftHeaderButtons{
    grid-column: 2;
    grid-row: 1;
}

.leftText{
    grid-column: 1;
    grid-row: 2;
    display: grid;
    grid-template-columns: 950px;
    grid-template-rows: 100px 300px 400px;
}

.leftTextHeader{
    grid-column: 1;
    grid-row: 1;
}

.leftTextInfo{
    grid-column: 1;
    grid-row: 2;
    display: grid;
    grid-template-columns: 750px 250px;
    grid-template-rows: 300px;
}

.textInfo{
    grid-column: 1;
    grid-row:1;
}

.rightSide{
    border-radius: 20px;
    margin-top: 50px;
    grid-column: 2;
    grid-row:1;
    display:grid;
    grid-template-columns: 580px;
    grid-template-rows: 150px 380px 60px;
    background: white;
}

.rightHeader{
    grid-column: 1;
    grid-row: 1;
}

.rightLogin{
    grid-column: 1;
    grid-row: 2;
    display:grid;
    grid-template-columns: 580px;
    grid-template-rows: 40px 310px;
}

.rightFooter{
    grid-column: 1;
    grid-row: 3;
    padding-left: 80px;
}

.rightH1{
    text-align: center;
    margin-top: 50px;
}

.rightLoginh2{
    grid-column: 1;
    grid-row: 1;
    margin-top: 0px;
    height: 81px;
}

h3{
    margin-left: 75px;
    font-family: Kurale, sans-serif;
    font-size: x-large;
    color: deepskyblue;
}


/* Username */
.rightLoginUser{
    /*grid-column: 1;
    grid-row: 2;*/
    margin-top: 0px;
}

.firstName{
    height: 30px;
    width: 211px;
    margin: 10px 75px 0px;
    border: none;
    border-bottom: 3px solid ;
    border-color: silver;
    outline: none;
    font-size: 18px;
}

.secondName{
    height: 30px;
    width: 215px;
    margin: 10px -50px 0px;
    border: none;
    border-bottom: 3px solid ;
    border-color: silver;
    outline: none;
    font-size: 18px;
}

.email{
    height: 30px;
    width: 455px;
    margin: 10px 75px 0px;
    border: none;
    border-bottom: 3px solid ;
    border-color: silver;
    outline: none;
    font-size: 18px;
}

.username{
    height: 30px;
    width: 455px;
    margin: 10px 75px 0px;
    border: none;
    border-bottom: 3px solid ;
    border-color: silver;
    outline: none;
    font-size: 18px;
}

.phoneNumber{
    height: 30px;
    width: 455px;
    margin: 10px 75px 0px;
    border: none;
    border-bottom: 3px solid ;
    border-color: silver;
    outline: none;
    font-size: 18px;
}

.password{
    height: 30px;
    width: 455px;
    margin: 10px 75px 0px;
    border: none;
    border-bottom: 3px solid ;
    border-color: silver;
    outline: none;
    font-size: 18px;
}

.confPassword{
    height: 30px;
    width: 455px;
    margin: 10px 75px 0px;
    border: none;
    border-bottom: 3px solid ;
    border-color: silver;
    outline: none;
    font-size: 18px;
}

.button {
    display: flex;
    justify-content: center;
}


.leftButtons{
    text-align: center;
    font-size: x-large;
    color: ghostwhite;
    text-decoration: none;
    outline: none;
    font-family: Kurale, sans-serif;
}

a{
    text-decoration: none;
}



